@using Blogifier.Core.Data.Models
@model BlogPostsModel
<div ui-view flex style="width: 100%;" layout="column"></div>
<div class="sliding-menu" ng-cloak style="position: fixed; right: 20px; bottom: 20px;">
    <md-button ng-click="scrollToTop()" class="md-fab md-primary" aria-label="Top" ng-show="scrollY > 20">
        <md-tooltip md-direction="left">Scroll To Top</md-tooltip>
        <md-icon>vertical_align_top</md-icon>
    </md-button>
</div>