@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/AngularMaterial";
    var menubarView = string.Format("~/Views/{0}/_Shared/_Menubar.cshtml", themeFolder);
}
<div class="blog-header">
    <hr />
    <h1 ui-sref="home({ page: '1' })" tabindex="-1">&nbsp;@ApplicationSettings.Title</h1>
    <hr />
</div>
<div class="blog-description">
    @ApplicationSettings.Description;
</div>
@Html.Partial(menubarView)